<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- namespce : (패키지>Mapper) 경로  -->
 <mapper namespace="com.kimino_recipe.desktop.mapper.searchMapper">
 
 	<!-- 일반 게시판 검색 -->
 	<select id="search" parameterType="hashmap" resultType="com.kimino_recipe.desktop.domain.boardVO">
 		select * from 
 		(select T.*, row_number() over(order by writedate desc) as rnum from kimino_recipe T 
 		where board_id = #{board_id} and (title like '%'||#{searchVO.keyword}||'%' or content like '%'||#{searchVO.keyword}||'%')) 
 		where rnum between #{startNum} and #{endNum}
 	</select>
 	
 	<select id="search_Count" parameterType="hashmap" resultType="int">
 		select count(*) from kimino_recipe
 		where board_id = #{board_id} and (title like '%'||#{searchVO.keyword}||'%' or content like '%'||#{searchVO.keyword}||'%')	
 	</select>
 	
 	<!-- 공지사항게시판 검색 -->
 	<select id="search_Notice">
 	</select>
 	
 	<select id="search_Count_Notice">
 	</select>
 	
 	<!-- 추천 검색 -->
	<select id="search_Up" parameterType="hashmap" resultType="com.kimino_recipe.desktop.domain.boardVO">
		select * from 
 		(select T.*, row_number() over(order by writedate desc) as rnum from kimino_recipe T 
 		where up <![CDATA[>=]]> #{hotcount} and (title like '%'||#{searchVO.keyword}||'%' or content like '%'||#{searchVO.keyword}||'%')) 
 		where rnum between #{startNum} and #{endNum}
	</select>
	
	<select id="search_Count_Up" resultType="int">
		 select count(*) from (select * from kimino_recipe 
		 where title like '%'||#{searchVO.keyword}||'%' or content like '%'||#{searchVO.keyword}||'%') 
		 where up <![CDATA[>=]]> #{hotcount}
	</select>
	
	 <!-- 비추천 검색 -->
	<select id="search_Down" parameterType="hashmap" resultType="com.kimino_recipe.desktop.domain.boardVO">
		select * from 
 		(select T.*, row_number() over(order by writedate desc) as rnum from kimino_recipe T 
 		where down <![CDATA[>=]]> #{hotcount} and (title like '%'||#{searchVO.keyword}||'%' or content like '%'||#{searchVO.keyword}||'%')) 
 		where rnum between #{startNum} and #{endNum}
	</select>
	
	<select id="search_Count_Down" resultType="int">
		 select count(*) from (select * from kimino_recipe 
		 where title like '%'||#{searchVO.keyword}||'%' or content like '%'||#{searchVO.keyword}||'%') 
		 where down <![CDATA[>=]]> #{hotcount}
	</select>
	
	<!-- 신고 검색 -->
	<select id="search_Report" parameterType="hashmap" resultType="com.kimino_recipe.desktop.domain.boardVO">
	 	select * from 
 		(select T.*, row_number() over(order by writedate desc) as rnum from kimino_recipe T 
 		where report <![CDATA[>=]]> 1 and (title like '%'||#{searchVO.keyword}||'%' or content like '%'||#{searchVO.keyword}||'%')) 
 		where rnum between #{startNum} and #{endNum}
	</select>
	
	<select id="search_Count_Report" resultType="int">
		 select count(*) from 
		 (select * from kimino_recipe 
		 where title like '%'||#{searchVO.keyword}||'%' or content like '%'||#{searchVO.keyword}||'%') 
		 where report <![CDATA[>=]]> 1
	</select>
	
	<!-- 통합 검색 --> 	
 	<select id="search_Total" parameterType="hashmap" resultType="com.kimino_recipe.desktop.domain.boardVO">
 		select * from 
 		(select T.*, row_number() over(order by writedate desc) as rnum from kimino_recipe T 
 		where title like '%'||#{searchVO.keyword}||'%' or content  like '%'||#{searchVO.keyword}||'%') 
 		where rnum between #{startNum} and #{endNum}
 	</select>
 	
 	<select id="search_Count_Total" resultType="int">
 		 select count(*) from (select * from kimino_recipe 
		 where title like '%'||#{searchVO.keyword}||'%' or content like '%'||#{searchVO.keyword}||'%') 
 	</select>
 	
 	<!-- 회원관리 검색 -->
 	<select id="search_User" parameterType="hashmap" resultType="com.kimino_recipe.desktop.domain.userVO">
 		select * from 
 		(select T.*, row_number() over(order by user_id) as rnum from kimino_recipe_user T 
 		where user_id like '%'||#{searchVO.keyword}||'%' or user_name  like '%'||#{searchVO.keyword}||'%') 
 		where rnum between #{startNum} and #{endNum}
 		
 	</select>
 	
 	<select id="search_Count_User" resultType="int">
 		 select count(*) from 
 		 (select * from kimino_recipe_user
		 where user_id like '%'||#{searchVO.keyword}||'%' or user_name like '%'||#{searchVO.keyword}||'%') 
 	</select>
 	
 	<!-- 쇼핑몰 검색 -->
 	<select id="search_Product" parameterType="hashmap" resultType="com.kimino_recipe.desktop.domain.productVO">
 		select * from 
 		(select T.*, row_number() over(order by writedate desc) as rnum from kimino_recipe_product T 
 		where board_id = #{board_id} and (product_name like '%'||#{searchVO.keyword}||'%' or content like '%'||#{searchVO.keyword}||'%')) 
 		where rnum between #{startNum} and #{endNum}
 	</select>	
 	<select id="search_Count_Product" resultType="int">
 		select count(*) from kimino_recipe_product
 		where board_id = #{board_id} and (product_name like '%'||#{searchVO.keyword}||'%' or content like '%'||#{searchVO.keyword}||'%')	
 	</select>
 	
 </mapper>